<div class="row record">
  <div class="column column-50">
    <label *ngIf="show_tooltip" [for]="'disc-' + id">Описание</label>
    <div *ngIf="!show_id; else with_id">
      <input type="text" placeholder="Кросовки" [id]="'disc-' + id" [(ngModel)]="disc">
    </div>
    <ng-template #with_id>
      <div class="row">
        <div [style.width.px]="size_of_id" class="form__inline_text">#{{ id }}</div>
        <input type="text" placeholder="Кросовки" [id]="'disc-' + id" [(ngModel)]="disc"
               [ngStyle]="{'width': show_id ? 'calc(100% - ' + (size_of_id + 10) + 'px)' : '100%'}">
      </div>
    </ng-template>
  </div>
  <div class="column column-20">
    <label *ngIf="show_tooltip" [for]="'amount-' + id">Сумма покупки</label>
    <div class="row">
      <div class="form__inline">
        <i class="fa fa-rub" aria-hidden="true"></i>
      </div>
      <input type="number" placeholder="4723,70" [id]="'amount-' + id" [(ngModel)]="amount">
    </div>
  </div>
  <div class="column column-20">
    <label *ngIf="show_tooltip" [for]="'plan-' + id">Рассрочка</label>
    <input type="number" placeholder="10" [id]="'plan-' + id" [(ngModel)]="plan">
  </div>
  <div class="column column-10">
    <button [ngClass]="{'button-size':show_tooltip}" class="button-outline" (click)="emit()">
      <i class="fa" [ngClass]="{'fa-plus':add_type, 'fa-minus':!add_type}" aria-hidden="true"></i>
    </button>
  </div>
</div>
